@value sidebarWidth: 400px;
@value paddingSize: 20px;

:local(.root) {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
}

:local(.getStarted) {
  position: absolute;
  top: paddingSize;
  left: paddingSize;
  font: 22px sans-serif;
}

:local(.editor) {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: sidebarWidth;
  overflow: hidden;
}

:local(.sidebar) {
  position: absolute;
  top: 0px;
  bottom: 0px;
  width: sidebarWidth;
  right: 0px;
  font: 20px sans-serif;
  font-weight: 300;
  padding: paddingSize;
  box-sizing: border-box;
  overflow: auto;
}

:local(.sidebarSection) {
  margin-bottom: paddingSize;
}

:local(.editorColor) {
  display: inline-block;
  width: 16px;
  height: 16px;
}

:local(.link), :local(.link):hover, :local(.link):visited, :local(.link):active {
  color: white;
}

:local(.logline) {
  font: 12px monospace;
}
