{
  "presets": [
    [
      "env",
      {
        "targets": [
          "last 1 Chrome version",
        ]
      }
    ],
    "react"
  ],
  "plugins": [
    "transform-class-properties",
    "transform-object-rest-spread"
  ]
}
