@value cameraMainPadding: 20px;
@value cameraMainSidebarWidth: 300px;

:local(.root) {
  display: flex;
  flex-direction: column;
}

:local(.dynamicland) {
  font: 20px/1.2 Helvetica;
  background: yellow;
  color: black;
  padding: 10px;
}

:local(.dynamicland) a,
:local(.dynamicland) a:hover,
:local(.dynamicland) a:visited {
  color: blue;
}

:local(.appRoot) {
  display: flex;
  padding: 10px;
}

:local(.video) {
  flex: 1 0 auto;
}

:local(.sidebar) {
  flex: 1 1 cameraMainSidebarWidth;
  color: white;
  font: 18px sans-serif;
  font-weight: 300;
}

:local(.sidebarSection) {
  margin-bottom: cameraMainPadding;
  word-break: break-all;
}

:local(.sidebar) a,
:local(.sidebar) a:hover,
:local(.sidebar) a:visited {
  color: rgb(50, 50, 255);
}

:local(.sidebarSectionSection) {
  margin-bottom: calc(cameraMainPadding / 4);
}

:local(.printQueueItemPrinted),
:local(.printQueueItemNotPrinted) {
  margin-bottom: calc(cameraMainPadding / 4);
  cursor: pointer;
}
:local(.printQueueItemPrinted):hover,
:local(.printQueueItemNotPrinted):hover {
  background: #666;
}

:local(.printQueueItemPrinted) {
  text-decoration: line-through;
}

:local(.printQueueItemDone) {
  visibility: hidden;
  cursor: pointer;
}
:local(.printQueueItem):hover > :local(.printQueueItemDone) {
  visibility: visible;
}
:local(.printQueueItemDone):hover {
  background: #999;
}

:local(.colorListItem) {
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 20px;
  margin-right: 5px;
  color: white;
  font-size: 14px;
  text-align: center;
  line-height: 20px;
  cursor: pointer;
}
:local(.colorListItem):hover {
  box-shadow: 0 0 0 20px rgba(255, 255, 255, 0.3) inset;
}
:local(.colorListItemSelected) {
  box-shadow: 0 0 0 3px white;
}
:local(.colorListItemSelected):hover {
  box-shadow: 0 0 0 3px white, 0 0 0 20px rgba(255, 255, 255, 0.3) inset;
}

:local(.spaceUrl) {
  color: gray;
  margin-bottom: calc(cameraMainPadding / 4);
}

:local(.spaceNameInput) {
  width: 100%;
  margin-bottom: calc(cameraMainPadding / 4);
}
