@value cameraMainPadding: 20px;

@value cameraMainSidebarWidth: 320px;

@value backgroundColor: #2E4152;

:local(.root) {
  display: flex;
  flex-direction: column;
  background-color: backgroundColor;
}

:local(.appRoot) {
  display: flex;
  padding: 10px;
}

:local(.videoAndEditorContainer) {
  display: flex;
  flex-direction: column;
  margin-right: 20px;
}

:local(.video) {
  width: 100%;
  margin-right: 10px;
  margin-bottom: 10px;
}

:local(.editor) {
  width: 100%;
  height: 800px;
  margin-top: 10px;
  margin-right: 10px;
}

:local(.editorTitleBar) {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

:local(.iconButtonSpan) {
  display: flex;
  gap: 5px;
}

:local(.dialog) {
  color: white;
}

:local(.createProgramContent) {
  background: backgroundColor;
}

:local(.createProgramDialog) {
  min-width: 90%;
  padding: 0;
}

.btn-close {
  fill: rgba(255,255,255,0.5);
}

:local(.note) {
  font-size: 0.9em;
}

:local(.sidebar) {
  flex: 1 1 cameraMainSidebarWidth;
  color: white;
  font: 16px sans-serif;
  font-weight: 300;
  height: 95vh;
  overflow-y: auto;
}

:local(.sidebar) h1,
:local(.sidebar) h2,
:local(.sidebar) h3,
:local(.sidebar) h4,
:local(.sidebar) h5,
:local(.sidebar) h6 {
  margin: 10px 0;
}

:local(.sidebar) a {
  color: white;
}

:local(.sidebar) button {
  font-size: 15px;
  margin: 5px 0;
  padding: 5px;
}

:local(.sidebarSection) {
  position: relative;
}

:local(.sidebarSection:not(:last-child)) {
  margin-bottom: 10px;
  border-bottom: 1px #999 solid;
  padding-bottom: 10px;
}

:local(.sidebar) a,
:local(.sidebar) a:visited {
  color: skyblue;
}

:local(.sidebar) a:hover {
  color: white;
}

:local(.sidebar) label {
  margin: 0 5px;
}

:local(.sidebarSubSection) {
  position: relative;
  margin-bottom: calc(cameraMainPadding / 4);
}

:local(.headerWithOption) {
  display: inline-block;
  margin-right: 20px;
}

:local(.optionWithHeader) {
  display: inline-block;
  position: absolute;
  right: 0;
  top: 10px;
}

:local(.create) {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

:local(.create) > {
  height: 100%;
}

:local(.programList) {
  border: 1px white solid;
  padding: 5px;
}

:local(.programListItem) {
  width: 100%;
  margin-bottom: calc(cameraMainPadding / 4);
  cursor: pointer;
}

:local(.programListItem):nth-child(even) {
  background: #555;
}

:local(.programListItem):hover {
  background: #99e;
}

:local(.selectedProgramListItem) {
  width: 100%;
  margin-bottom: calc(cameraMainPadding / 4);
  cursor: pointer;
  background: #7171E5;
}

:local(.programListItemContent) {
  width: 75%;
  display: inline-block;
}

:local(.programListItemToggle) {
  visibility: hidden;
  cursor: pointer;
}

:local(.programListItem):hover :local(.programListItemToggle) {
  visibility: visible;
}

:local(.programListItemToggle):hover {
  background: #999;
}

:local(.programListIcon) {
  display: inline-block;
  padding: 0 3px;
  margin-left: 10px;
  margin-right: 3px;
  text-align: center;
}

:local(.programListIcon):hover {
  background: #444;
}

:local(.colorListItem) {
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 20px;
  margin-right: 5px;
  color: white;
  font-size: 14px;
  text-align: center;
  line-height: 20px;
  cursor: pointer;
}

:local(.colorListItem):hover {
  box-shadow: 0 0 0 20px rgba(255, 255, 255, 0.3) inset;
}

:local(.colorListItemSelected) {
  box-shadow: 0 0 0 3px white;
}

:local(.colorListItemSelected):hover {
  box-shadow: 0 0 0 3px white, 0 0 0 20px rgba(255, 255, 255, 0.3) inset;
}

:local(.spaceUrl) {
  margin-bottom: calc(cameraMainPadding / 4);
  font-size: 0.9em;
}

:local(.spaceNameInput) {
  width: 100%;
  margin-bottom: calc(cameraMainPadding / 4);
}

:local(.editorAnchor) {
  font-size: 18px;
  text-align: center;
  border-style: double;
  border-radius: 3px;
}

/*bootstrap*/

.btn.btn-primary[disabled] {
  background-color: #aaa;
  border-color: #888;
}
