:local(.closeButton) {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 20px;
  height: 20px;
  background: rgb(190, 0, 0);
}

:local(.closeButton):hover {
  background: rgb(255, 0, 0);
}


:local(.program) {
  font-family: Helvetica;
  background: white;
  user-select: none;
  opacity: 0.7;
  color: black;
}

:local(.resizeHandle) {
  position: absolute;
  right: 0px;
  bottom: 0px;
  width: 20px;
  height: 20px;
  background: rgb(100, 100, 100);
}

:local(.resizeHandle):hover {
  background: rgb(0, 0, 0);
}
