@value sidebarWidth: 400px;

@value paddingSize: 20px;

:local(.root) {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #2E4152;
}

:local(.container) {
  display: flex;
  flex-direction: column;
  width: calc(100% - sidebarWidth); /* Subtract the width of the sidebar from the viewport width */
}

:local(.editorHeading) {
  margin-top: paddingSize;
  margin-left: paddingSize;
  font: 22px sans-serif;
}

:local(.editor) {
  height: 800px;
}

:local(.snippetEditor) {
  height: 400px;
  right: sidebarWidth;
}

:local(.select) {
  margin-bottom: 10px;
  margin-top: 10px;
  width: 300px;
}

:local(.snippetSelect) {
  margin-bottom: 10px;
  width: 30%;
}

:local(.dialog) {
  color: black;
  font: 20px sans-serif;
}

:local(.saveAlert ) {
  display: flex;
  justify-content: center;
  padding: paddingSize;
}

:local(.snippetControls) {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 10px;
}

:local(.sidebar) {
  position: absolute;
  top: 0;
  bottom: 0;
  width: sidebarWidth;
  right: 0;
  font: 20px sans-serif;
  font-weight: 300;
  padding: paddingSize;
  box-sizing: border-box;
  overflow: auto;
}

:local(.sidebarSection) {
  margin-bottom: paddingSize;
}

:local(.editorColor) {
  display: inline-block;
  width: 16px;
  height: 16px;
}

:local(.link), :local(.link):visited, :local(.link):active {
  color: skyblue;
}

:local(.link):hover {
  color: white;
}

:local(.logline) {
  font: 12px monospace;
}
